.about-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 6rem;
    background-color: white;
}

.about-kjsit p,
.about-computer p {
    font-size: 1.2rem;
    text-align: justify;
}

.top-section {
    display: flex;
}

.about-kjsit {
    flex: 1;
}

.college-image {
    flex: 1;
}

.college-image img {
    width: 100%;
    height: 100%;
}

.about-kjsit,
.about-computer {
    background: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-kjsit h2,
.about-computer h2 {
    font-size: 2rem;
    color: #9B2928;
}

.bottom-section {
    display: flex;
}

.lab-image {
    flex: 1;
}

.lab-image img {
    width: 100%;
    height: 100%;
}

.about-computer {
    flex: 1;
}

/* Responsive for screens smaller than 900px */
@media (max-width: 900px) {
    .top-section {
        flex-direction: column-reverse;
    }

    .bottom-section {
        flex-direction: column;
    }
}

/* Specific for small screens below 500px */
@media (max-width: 500px) {

    .about-kjsit p,
    .about-computer p {
        font-size: 1rem;
        /* smaller text */
    }

    .about-kjsit h2,
    .about-computer h2 {
        font-size: 1.5rem;
        /* slightly smaller headings */
    }
}

/* For large screens above 901px */
@media (min-width: 901px) {
    .college-image img {
        width: 50vw;
    }

    .lab-image img {
        width: 50vw;
    }
}

/* Specific for very large screens above 1500px */
@media (min-width: 1500px) {

    .about-kjsit p,
    .about-computer p {
        font-size: 1.5rem;
        /* larger text */
    }

    .about-kjsit h2,
    .about-computer h2 {
        font-size: 2.5rem;
        /* larger headings */
    }
}