.container {
    padding: 20px;
    color: black;
    z-index: 1;
    background-color: #ffd5d4;
}

h1 {
    color: #9B2928;
    font-size: 3rem;
    text-align: center;
}

.sma {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 1rem;
}

.sma p {
    flex: 2;
    padding-right: 15px;
    font-size: 18px;
    text-align: justify;
    max-width: 780px;
}

.sma img {
    flex: 1;
    padding-left: 15px;
    max-width: 350px;
    height: auto;
}
