.simulation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.navbar {
  background-color: #ffffff;
  color: black;
  width: 100%;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.simulation-content {
  margin-top: 20px;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 15px;
  text-align: center;
}

/* Buttons */
.graph-button {
  padding: 30px 40px;
  margin: 10px;
  border: none;
  border-radius: 9px;
  background-color: #ff9494;
  color: black;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s ease-in-out;
}

.graph-button:hover {
  background-color: #e76060;
  transform: scale(1.1);
}
